# Binaries and templates
main
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
out/

# Go tools / test coverage
*.test
*.out
coverage.txt

# Dependency directories (only needed if you use vendor)
# vendor/

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Environment / Secrets
.env
.env.local
.env.*
!.env.example
